body {
margin: 0px;
padding: 0px;
}

table.main {
border: 2px solid black;
border-collapse: collapse;
text-align: left;
width: 8.0in;
}

table {
table-layout: fixed;
}

table tr td {
padding 5px 0px 5px 5px;
margin 0px;
}

td.bold {
font-weight: bold;
}

table.thickborder {
border: 3px solid black;
border-collapse: collapse;
width: 8.0in;
}

table.thickborder_s {
border: 3px solid black;
border-collapse: collapse;
width: 3.4in;
font-size: 10pt;
}

table.thickborder tr td {
border: 1px solid black;
}

table.thickborder_s tr td {
border: 1px solid black;
}

tr.boldital {
font-weight: bold;
font-style: italic;
font-family: Arial;
font-size: 11pt;
}

tr#borderbottom td {
border-bottom: 1px solid black;
}

tr.first {
font-style: italic;
font-size: 12pt;
font-family: Times New Roman;
vertical-align: top;
}

tr.second {
font-style: italic;
font-size: 11pt;
font-family: Arial;
vertical-align: top;
}

td.normal {
font-style: normal;
font-weight: normal;
font-family: Sans-serif;
text-align: left;
padding-left: 1px;
}


td#servorder {
font-weight: bold;
text-decoration: underline;
font-size: 12pt;
}

p.sigs {
padding: 4px 4px 0px 4px;
margin: 0px;
font-weight: bold;
font-style: italic;
font-size: 10pt;
}

p#footnote {
color: grey;
font-family: Arial;
font-size: 12pt;
text-align: center;
font-weight: bold;
}

#wd {
border: 1px solid black;
height: 50px;
width: 400px;
float: left;
}